body{

margin:0;
padding:10px;
font-family:sans-serif;
background:#f5f5f5;

transition:0.3s;

}

body.dark{

background:#222;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

}

.calendar-header{

display:flex;
justify-content:space-between;
align-items:center;

margin-top:10px;

}

#calendar{

display:grid;

grid-template-columns:
repeat(7,1fr);

gap:5px;

margin-top:10px;

}

.day{

background:white;
padding:12px;
border-radius:10px;
text-align:center;
cursor:pointer;

}

body.dark .day{

background:#333;

}

.day.hasTask{

color:red;
font-weight:bold;

}

.input-area{

display:flex;
flex-wrap:wrap;
gap:5px;

margin-top:15px;

}

input,select,button{

padding:10px;
border:none;
border-radius:8px;

}

button{

background:#4CAF50;
color:white;

}

#taskList{

margin-top:20px;
padding:0;

}

.taskItem{

list-style:none;
background:white;
margin-bottom:10px;
padding:10px;
border-radius:10px;

display:flex;
justify-content:space-between;
align-items:center;

}

body.dark .taskItem{

background:#333;

}

.sticky{

position:absolute;

width:200px;

min-height:150px;

padding:10px;

background:#fff8a6;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

cursor:move;

}

.high{

border-left:8px solid orange;

}

.urgent{

border-left:8px solid red;

}